.login{
    background:#faf7ff;
    overflow:hidden;
    overflow-y: scroll;
}
.login-header{
    height:50px;
    background:#faf7ff;
    text-align:right;
    padding-right:20px;
    line-height:50px;
}
.login-logo{
    text-align:center;
}
#login-outside{
 font-size:70px;
 color:#810505;
 position:relative;
}
#login-insert{
    font-size:50px;
    color:#ECDADA;
    position:absolute;
    left:3px;
    top:3px;
}

.login-information{
    padding:10px 40px;
}
.login-information>p{
    position:relative;
    border-bottom:solid 1px #ccc;
    color:#ccc;
}
.login-information>p>i{
    position:absolute;
    left:10px;
    margin-top:20px;
    
}
.login-information>p>input{
    width:100%;
    height:50px;
    border:none;
    background:#faf7ff;
    font-size:18px;
    outline:none;
    padding-left:15%;
}
.login-mima{
    padding:10px 30px;
    text-align:right;
    color:#99ddcc;
}
.login-content{
    padding:10px 40px;
    text-align:center;
}
.login-content>p{
    margin-bottom:10px;
}
.login-content>p>button{
    width:100%;
    height:40px;
    background:#faf7ff;
    border:none;
    color:#bad7df;
    font-size:15px;
    border-radius: 20px;
    outline: none;
    
}
#login-lg{
    background:#00818a;
    color:#fff;
    
}

.login-other{
    padding:10px 40px;
    height:50px;
}
.login-other .login-inline{
    width:100%;
    height:1px;
    background:#ccc;
    line-height:1px;
    text-align:center;
}
.login-other .login-inline>span{
    background:#faf7ff;
    padding: 0 10px;
    color:#ccc;
}

.login-other>p{
    width:100%;
    margin-top:20px;
    position:relative;
}
.login-other>p>button{
    width:100%;
    height:40px;
    border:solid 1px #D7DDE4;
    outline:none;
    background:#faf7ff;
    border-radius:20px;
}
.login-other>p>i{
    position:absolute;
    left:20px;
    top:0;
    font-size:40px;
}
#login-weixin{
    color:#58B202
}
#login-weibo{
    color:#E63C53
}
