.my{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.head{
    width: 100%;
    height: 60px;
    background: #f9f9f9;
    display: flex;
    line-height: 50px;
    span{
        flex: 1;
    }
    span:nth-child(1){
        color: #69dec7;
        flex: 1;
        text-align: center;
    }
    span:nth-child(2){
        color: #999999;
        font-size: 18px;
        flex: 2;
        margin-left: 50px;
    }
}
.section{
    display: flex;
    height: 100px;
    border-bottom: 1px solid #ccc;
    color: #999999;
    dl{
        flex: 1;
        text-align: center;
        border-right: 1px solid #ccc;
        padding-top: 14px;
        dt{
            .iconfont{
                font-size: 30px;
            }
        }
    }
}
.foot{
    width: 100%;
    display: flex;
    height: 100%;
    background: #f9f9f9;
    flex-direction: column;
    h3{
        margin-left: 30px;
        margin-top: 20px;
    }
    ul{
        li{
            border-top: none;
            line-height: 1.4;
            color: #666666;
            font-size: 18px;
            text-align: left;
            margin-left: 30px;
            margin-top: 20px;
            span{
                display: flex;
                flex-direction: column;
            }
        }
    }
}